@import "tailwindcss";

@plugin "daisyui" {
  themes: dart-dark --default, dart-light;
}

@plugin "daisyui/theme" {
  name: "dart_240_dark";
  default: true;
  color-scheme: dark;

  --color-base-100: #050a0d;
  --color-base-200: #0a1117;
  --color-base-300: #111c24;
  --color-base-content: #f8fafc;

  --color-primary: #4daa32;
  --color-primary-content: #ffffff;

  --color-secondary: #c62828;
  --color-secondary-content: #ffffff;

  --color-success: #4daa32;
  --color-success-content: #ffffff;

  --color-error: #c62828;
  --color-error-content: #ffffff;

  --color-info: #3b82f6;
  --color-warning: #f59e0b;

  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dart_240_light";
  color-scheme: light;

  --color-base-100: #f8fafc;
  --color-base-200: #e5e7eb;
  --color-base-300: #cbd5e1;
  --color-base-content: #111827;

  --color-primary: #3f8f29;
  --color-primary-content: #ffffff;

  --color-secondary: #b91c1c;
  --color-secondary-content: #ffffff;

  --color-success: #3f8f29;
  --color-success-content: #ffffff;

  --color-error: #b91c1c;
  --color-error-content: #ffffff;

  --color-info: #2563eb;
  --color-warning: #d97706;

  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.logo {
  background-image: url("/assets/logo_3.png");
  background-size: contain;
  background-repeat: no-repeat;
}
